# IDEA
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# Netbeans
nb-configuration.xml

# OSX
.DS_Store

# Scripts
*.sh

# Maven
target

.java-version
/dist/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.class
